main {
    height: calc(100vh - 160px);
    .cards-wrapper {
        margin: 30px 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .card {
            cursor: pointer;
            margin: 10px 0;
            overflow: hidden;
            width: 300px;
            height: 420px;
            position: relative;
            object-fit: contain;
            &:hover img {
                scale: 1.2;
                transition: all 4s;
            }
            &:hover .overlay {
                display: block;
            }
            &:hover {
                border: 5px solid #008000;
            }

            .overlay {
                display: none;
                position: absolute;
                bottom: 0;
                left: 0;
                background-color: black;
                height: 130px;
                width: 100%;


                .comic-info {
                    padding: 10px 10px;
                    .buttons-container{
                        width: 100%;
                        button {
                            color: white;
                            background: #008000;
                            border: 1px solid #008000;
                        }
                        button:hover {
                            color: white;
                            background: purple;
                            border: 1px solid purple;

                        }
                    }
                }
            }

        }
    }
    .show {
        justify-content: flex-start;
        .comic-info-show {
            padding-left: 30px;
            max-width: 1100px ;
        }
    }
}
